# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repository.
*       @mantzas @sotirispl @c0nstantx @dsoufleros @Lazaros-Tsigkakos @apanagiotou @Angelos-Giannis @cpapidas @delioda79 @georgegg @siavashs @Stefos @nstratos @Vaoiko @KenanBek @pavelshtanko

